<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Thank you for using Blocmetrics.</h1>
 
    <p>The email listed as "app_owner" value in the Blocmetrics JavaScript snippet in your view does not match any emails in our records.  Please check the email that you listed and make sure it matches the email address you used to sign up for Blocmetrics.</p>

    <p>If you would like to edit your Blocmetrics email, please do so via your Blocmetrics account.</p>
    <p>
      <%= link_to "Edit profile", user_session_url %>
    </p>
  </body>
</html>