<div>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= pie_chart Event.group(:name).count %>
</div>
<div>
  <%= line_chart({20.day.ago => 5, 1368174456 => 4, "2013-05-07 00:00:00 UTC" => 7}) %>
</div>