<div class="jumbotron">
  <h1> Event Data for Application</h1>
  <div>
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
    <%= pie_chart Event.group(:name).count %>
  </div>
  <div>
    <%= line_chart({20.day.ago => 5, 300.day.ago => 4, "2013-05-07 00:00:00 UTC" => 7}) %>
  </div>
</div>